# PostgreSQL Client Authentication Configuration File
# ===================================================
#
# Refer to the "Client Authentication" section in the PostgreSQL
# documentation for a complete description of this file.  A short
# synopsis follows.
#

# DO NOT DISABLE!
# If you change this first entry you will need to make sure that the
# database superuser can access the database using some other method.
# Noninteractive access to all databases is required during automatic
# maintenance (custom daily cronjobs, replication, and similar tasks).
#
# Database administrative login by Unix domain socket
local   all             postgres                                peer

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# "local" is for Unix domain socket connections only
local   all             all                                     peer
# IPv4 local connections:
host    all             all             127.0.0.1/32            md5
{% for host in groups['common'] %}
# Server in cluser, IP access for md5:
#   hostvars[host]['ansible_eth1']['ipv4']['address']
host    lt_{{lt_env}}_db      lt_dbo          {{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}/32        md5
{% if lt_env in 'test' %}
# we have to permit postgres db access for test server b/c of 
# some automagic in ActiveRecord. During database drop/create 
# functions, AR seems to access postgres DB without instruction to do so
host    postgres      lt_dbo          {{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}/32        md5
{% endif %}
{% endfor %}
