<!-- Filter tools
| Change date period | View all sections/one section picker |

|Sections
  |Students  | Total time on all sites
   ->   [expand list]
        | Sites visited  |  Time on site |
     ->   [expand site]
          | Pages visited | Time on page | 
            |Left page to URL

Nb. Time on site/page is for what time frame by default? (7 days?)
-->

<%user.sections.each do |section|%>
<h3>  Section: <%=section.display_name%></h3>

<%section.students.each do |student|%>
  <div class="box">
    <div class="box-header">
        <h3 class="box-title"><%=student.full_name%></h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-condensed">
            <tbody><tr>
                <th>Site</th>
                <th>Timed Visited</th>
                <th style="width: 40px">Label</th>
            </tr>

  <%#student.each_site_visit do |site_visit|%>
            <tr>
                <td><%#=site_visit.site.display_name%></td>
                <td><%#=site_visit.time_active_words%></td>
                <td><span class="badge bg-red">55%</span></td>
            </tr>
  <%# end #student.each_site_visited %>

        </tbody></table>
    </div><!-- /.box-body -->
  </div>
<%  end #section.students
  end #user.section
%>
<br/><br/>


<!--
<##student.each_page_visit(site: site_visit) do |page_visit|##>
<##=page_visit.display_name##>
<##=page_visit.time_active_words##>
-->