<h2>Welcome to Learning Tapestry</h2>
<br/><br/>
<b>Installation Page</b>
<br/><br/>
Text here about what Learning Tapestry does.
<br/><br/>
<a href="/?src=ext">Login</a>
<br/><br/><br/><br/><br/><br/>
TODO:  Signup