<h2>Welcome to Learntaculous</h2>
<br/><br/>
<b>Installation Page</b>
<br/><br/>
Text here about what Learntaculous does.
<br/><br/>
<a href="/?src=ext">Login</a>
<br/><br/><br/><br/><br/><br/>
TODO:  Signup