<!-- Main -->
<div class="container">

<!-- lower section -->
<div class="row">

  <div class="col-md-12">
    <hr>
    <a href="#"><strong><i class="glyphicon glyphicon-list-alt"></i> Reports</strong></a>
    <hr>
  </div>

  <div class="col-md-12">

    <table class="table table-striped">
      <thead>
      <tr>
        <th style="width: 30%">Username</th>
        <th style="width: 50%">Site</th>
        <th style="width: 20%">Time</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= username %></td>
        <td><%= site_name %></td>
        <td><%= time %></td>
      </tr>
      </tbody>
    </table>

    <hr>


  </div>


</div>
<!--/row-->

</div>
<!--/container-->
<!-- /Main -->
