<!-- Main -->
<div class="container">

<!-- lower section -->
<div class="row">

  <div class="col-md-12">
    <hr>
    <a href="#"><strong><i class="glyphicon glyphicon-list-alt"></i> Users</strong></a>
    <hr>
  </div>

  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
      </thead>
      <tbody>
      <% @users[:results].each do |username| %>
        <tr>
          <td><%= username[:first_name] %></td>
          <td><%= username[:last_name] %></td>
          <td><%= username[:username] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <hr>
  </div>
</div>
<!--/row-->

</div>
<!--/container-->
<!-- /Main -->
