/*! Learning Tapestry Custom CSS */

footer {
  position: relative;
  padding: 15px;
  background: #FFF;
  color: #000;
}

ul#bottom-nav {
  list-style-type: none;
  display: inline;
}
ul#bottom-nav li {
  display: inline;
  padding-right: 30px;
}